body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #BF045B, #D955AA);
}

header {
    background-color: #88F2E8;
    padding: 8px;
    width: 60%;
    border-radius: 5px 0px;
    margin: 10px auto 10px auto;
}

h1, h2 {
    text-align: center;
    color: #1d3a3a;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.185);
}

#titulo {
    padding: 5px;
    margin: 0px;
}

/* nav */

#navegacao {
    background-color: #59023B;
    word-spacing: 0.5em;
    text-align: center;
    border-radius: 5px 0px;
    padding: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
}

p {
    text-indent: 30px;
    padding: 5px;
}

nav > a:hover {
    color: white;
    text-decoration: underline;
}

main {
    display: flex;
    background-color: #88F2E8;
    padding: 10px;
    width: 60%;
    border-radius: 5px 0px;
    margin: 10px auto 10px auto;
}

main > section {
    background-color: #59023B;
    padding: 10px;
    border-radius: 5px 0px;
    margin: 2px;
}

section > article {
    background-color: white;
    padding: 5px;
    border-radius: 5px 0px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}

footer > p {
    text-align: center;
}

.saibamais {
    color: black;
    font-style: italic;
}

/* 
    Para fazer uma borda personalizada utilize: 

    border-image-source: url();
    border-image-slice: 10; (fatia a imagem)
    border-image-repeat (repete a imagem)

    ou

    border-image: ;
*/