@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font001: "Passion One", sans-serif;
    --font002: Verdana, Geneva, Tahoma, sans-serif;
    --font003: "Sriracha", cursive;
}

body {
    font-family: var(--font002);
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
}

header > p {
    font-family: var(--font002);
    font-size: 1em;
    padding-bottom: 3rem;
}

h1 {
    font-family: var(--font001);
    font-weight: bold;
    font-size: 5em;
    padding-top: 3.5rem;
}

section#firstimg {
    padding: 2em;
    position: relative;
}

section#firstimg > p {
    position: absolute;

    left: auto;
    top: 50%;

    transform: translate(0, -50%);
}

section#secondimg {
    padding: 2em;
    position: relative;
}

section#secondimg > p {
    position: absolute;

    left: auto;
    top: 50%;

    transform: translate(0, -50%);
}

section.padrao {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vh;
}

section.padrao > p {
    width: 55vh;
    padding-top: 5vh;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: var(--font003);
    font-size: 2em;
}

footer {
    background-color: #000;
    text-align: center;
    color: #fff;
}

footer > p {
    font-family: var(--font002);
    padding: 5px;
    font-size: 1em;
}

/* ID'S */

#firstimg {
    height: 75vh;
    background: #008000 url(imagens/background001.jpg) center center / cover no-repeat fixed;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.397);
}

#secondimg {
    height: 75vh;
    background: #008000 url(imagens/background002.jpg) center center / cover no-repeat fixed;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.397);
}

/* CLASS'S */

.diferente {
    background-color: #00000060;
    color: #fff;
    width: 50vh;
}